/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: black;
}

#jumbotron {
	background-image:url(img/background.JPG);
	background-size: cover;
	height:600px;
	background-repeat:no-repeat;
	background-position: center center;
}

.categories {
	border: 1px dashed white;
	width: 900px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

.categories .container {
	margin-right: auto;
	margin-left: auto;
}

.category {
	display: block;
	float: left;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed white;
}

.category img {
	height:150px;
	width: 150px;
}

.category .container p {
	color: #fff;
	font-size: 20px;
	font-family: 'Montserrat';
	text-align: center;
	letter-spacing: 4px;
}